<form action="@Url.Action("secondSearch","Search")" method="post" onsubmit="return kiemtra()">
    <div class="container" style="padding: 0">
        <div class="search-bar">
            <div class="row">
                <div class="col" style="border-right: 1px solid #e2e8f0">
                    <h1 class="search-bar-td">
                        Địa điểm
                        
                    </h1>
                    <input class="search-bar-txt" type="text" placeholder=@Model[2] name="search_name" id="search_name">
                </div>
                <div class="col" style="border-right: 1px solid #e2e8f0; padding-left: 20px; padding-right: 20px;">
                    <div class="container" style="width: 100%; padding: 0">
                        <div class="row">
                            <div class="col" style="width: 50%">
                                <h1 class="search-bar-td">
                                    Ngày đến
                                </h1>
                                <input class="date-input" type="date" name="date_den" id="date_den" value=@Model[0]>
                            </div>
                            <div class="col" style="width: 50%">
                                <h1 class="search-bar-td">
                                    Ngày đi
                                </h1>
                                <input class="date-input" type="date" name="date_di" id="date_di" value=@Model[1]>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col" style="padding-left: 20px">
                    <div style="float: left; width: 70%">
                        <h1 class="search-bar-td">
                            Số phòng, số khách
                        </h1>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle dropdown-btn" type="button" id="dropdownspsk" data-bs-toggle="dropdown" aria-expanded="false">
                                Số lượng
                            </button>
                            <ul class="dropdown-menu menu-width" aria-labelledby="dropdownspsk">
                                <li>
                                    <div class="container" style="padding-top: 15px;">
                                        <div class="row" style="border-bottom: 1px solid #CCCCCC; padding-bottom: 12px;">
                                            <div class="col-8">
                                                <h1 class="dropdown-nd">Phòng</h1>
                                            </div>
                                            <div class="col-4">
                                                <input class="number-dropdown" type="number" name="slphong" id="slphong" value=@Model[3]>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="container" style="padding-top: 15px;">
                                        <div class="row" style="border-bottom: 1px solid #CCCCCC; padding-bottom: 12px;">
                                            <div class="col-8">
                                                <h1 class="dropdown-nd">Người lớn</h1>
                                            </div>
                                            <div class="col-4">
                                                <input class="number-dropdown" type="number" name="slnglon" id="slnglon" value=@Model[4]>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="container" style="padding-top: 15px; padding-bottom: 10px; ">
                                        <div class="row" style="border-bottom: 1px solid #CCCCCC; padding-bottom: 12px;">
                                            <div class="col-8">
                                                <h1 class="dropdown-nd">Trẻ em</h1>
                                            </div>
                                            <div class="col-4">
                                                <input class="number-dropdown" type="number" name="sltreem">
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div style="float: right; width: 30%">
                        <button class="btn-search-bar" type="submit" href="#">
                            <i class="fas fa-search"></i>
                        </button>

                    </div>

                </div>
            </div>
        </div>

    </div>
</form>
<script src="~/Scripts/JS/kiemtrasecondsearch.js" language="javascript"></script>

