USE [master]
GO
/****** Object:  Database [QLDPKS]    Script Date: 11-Jun-21 2:55:23 PM ******/
CREATE DATABASE [QLDPKS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDPKS', FILENAME = N'F:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLDPKS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDPKS_log', FILENAME = N'F:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLDPKS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDPKS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDPKS]
GO
/****** Object:  Table [dbo].[BANGLOC]    Script Date: 11-Jun-21 2:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGLOC](
	[IDBANG] [nchar](10) NOT NULL,
	[TENBANG] [nvarchar](50) NULL,
 CONSTRAINT [PK_BANGLOC] PRIMARY KEY CLUSTERED 
(
	[IDBANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING]    Script Date: 11-Jun-21 2:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING](
	[MABOOK] [char](10) NOT NULL,
	[MAPHONG] [char](10) NULL,
	[MAKH] [char](10) NULL,
	[NGAYVAO] [date] NULL,
	[NGAYDI] [date] NULL,
 CONSTRAINT [PK_BOOKING] PRIMARY KEY CLUSTERED 
(
	[MABOOK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 11-Jun-21 2:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [char](10) NOT NULL,
	[TENDV] [nvarchar](100) NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 11-Jun-21 2:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [char](10) NOT NULL,
	[MABOOK] [char](10) NULL,
	[TONGTIEN] [int] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOME_DDNB]    Script Date: 11-Jun-21 2:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOME_DDNB](
	[IDDIADIEM] [nchar](10) NOT NULL,
	[TENDIADIEM] [nvarchar](max) NULL,
	[img] [nvarchar](max) NULL,
 CONSTRAINT [PK_HOME_DDNB] PRIMARY KEY CLUSTERED 
(
	[IDDIADIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOME_SLIDE]    Script Date: 11-Jun-21 2:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOME_SLIDE](
	[IDSLIDE] [nchar](10) NOT NULL,
	[SLIDECONTENT] [nvarchar](max) NULL,
	[IMG] [nvarchar](max) NULL,
 CONSTRAINT [PK_HOME_SLIDE] PRIMARY KEY CLUSTERED 
(
	[IDSLIDE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHSAN]    Script Date: 11-Jun-21 2:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHSAN](
	[MAKHACHSAN] [char](10) NOT NULL,
	[MANCC] [char](10) NOT NULL,
	[TENKHACHSAN] [nvarchar](100) NULL,
	[SOLUONGPHONG] [int] NULL,
	[SOSAO] [int] NULL,
	[TINH] [nvarchar](100) NULL,
	[QUAN] [nvarchar](100) NULL,
	[PHUONG] [nvarchar](100) NULL,
	[DUONG] [nvarchar](100) NULL,
	[DIACHICUTHE] [nvarchar](100) NULL,
	[ANHKS1] [nchar](100) NULL,
	[ANHKS2] [nchar](100) NULL,
	[ANHKS3] [nchar](100) NULL,
	[ANHKS4] [nchar](100) NULL,
	[ANHKS5] [nchar](100) NULL,
	[MOTA] [nvarchar](100) NULL,
	[GIAPHONGCU] [int] NULL,
	[GIAPHONGMOI] [int] NULL,
	[DIADANH] [nvarchar](100) NULL,
	[DANHGIA] [nvarchar](100) NULL,
	[DIEM] [float] NULL,
	[IDDIADIEM] [nchar](10) NULL,
 CONSTRAINT [PK_KHACHSAN] PRIMARY KEY CLUSTERED 
(
	[MAKHACHSAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KSTIENICH]    Script Date: 11-Jun-21 2:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KSTIENICH](
	[MAKHACHSAN] [char](10) NOT NULL,
	[IDTIENICH] [int] NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_KSTIENICH] PRIMARY KEY CLUSTERED 
(
	[MAKHACHSAN] ASC,
	[IDTIENICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 11-Jun-21 2:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALOAI] [char](10) NOT NULL,
	[TENLOAIPHONG] [nvarchar](100) NULL,
 CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NCC]    Script Date: 11-Jun-21 2:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCC](
	[MANCC] [char](10) NOT NULL,
	[TENNCC] [nvarchar](100) NULL,
 CONSTRAINT [PK_NCC] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPTIONLOC]    Script Date: 11-Jun-21 2:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPTIONLOC](
	[IDKIEULOC] [nchar](10) NOT NULL,
	[TENKIEULOC] [nvarchar](50) NULL,
	[IDBANG] [nchar](10) NOT NULL,
 CONSTRAINT [PK_OPTIONLOC] PRIMARY KEY CLUSTERED 
(
	[IDKIEULOC] ASC,
	[IDBANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 11-Jun-21 2:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAKHACHSAN] [char](10) NOT NULL,
	[MALOAI] [char](10) NOT NULL,
	[MAPHONG] [char](10) NOT NULL,
	[TENPHONG] [nvarchar](100) NULL,
	[DIENTICH] [int] NULL,
	[QUANGCANH] [nvarchar](100) NULL,
	[GIA] [int] NULL,
	[GIAM] [float] NULL,
	[ANH1] [nvarchar](100) NULL,
	[ANH2] [nvarchar](100) NULL,
	[ANH3] [nvarchar](100) NULL,
	[ANH4] [nvarchar](100) NULL,
	[ANH5] [nvarchar](100) NULL,
	[SOGIUONG] [int] NULL,
	[LOAIGIUONG] [nvarchar](100) NULL,
	[SOLUONG] [int] NULL,
	[SOKHACH] [int] NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGDV_FEE]    Script Date: 11-Jun-21 2:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGDV_FEE](
	[MAPHONG] [char](10) NULL,
	[MADV] [char](10) NULL,
	[GIA] [int] NULL,
	[MADVFEE] [char](10) NOT NULL,
 CONSTRAINT [PK_PHONGDV_FEE] PRIMARY KEY CLUSTERED 
(
	[MADVFEE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGDV_FREE]    Script Date: 11-Jun-21 2:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGDV_FREE](
	[MAPHONG] [char](10) NULL,
	[MADV] [char](10) NULL,
	[GHICHU] [nvarchar](100) NULL,
	[MADVFREE] [char](10) NOT NULL,
 CONSTRAINT [PK_PHONGDV_FREE] PRIMARY KEY CLUSTERED 
(
	[MADVFREE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIENICH]    Script Date: 11-Jun-21 2:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIENICH](
	[IDTIENICH] [int] IDENTITY(1,1) NOT NULL,
	[TENTIENICH] [nvarchar](100) NULL,
	[ICON] [nvarchar](50) NULL,
 CONSTRAINT [PK_TIENICH] PRIMARY KEY CLUSTERED 
(
	[IDTIENICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DICHVU] ([MADV], [TENDV]) VALUES (N'Air       ', N'Đưa đón sân bay')
INSERT [dbo].[DICHVU] ([MADV], [TENDV]) VALUES (N'AS        ', N'Ăn sáng')
INSERT [dbo].[DICHVU] ([MADV], [TENDV]) VALUES (N'Bar       ', N'Quầy bar')
INSERT [dbo].[HOME_DDNB] ([IDDIADIEM], [TENDIADIEM], [img]) VALUES (N'1         ', N'Đà Nẵng', N'danang.jpg')
INSERT [dbo].[HOME_DDNB] ([IDDIADIEM], [TENDIADIEM], [img]) VALUES (N'10        ', N'TP. Hồ Chí Minh', N'saigon.jpg')
INSERT [dbo].[HOME_DDNB] ([IDDIADIEM], [TENDIADIEM], [img]) VALUES (N'11        ', N'Phú Quốc', N'phuquoc.jpg')
INSERT [dbo].[HOME_SLIDE] ([IDSLIDE], [SLIDECONTENT], [IMG]) VALUES (N'2         ', N'DSQ', N'bach-luyen-thanh-tien.jpg')
INSERT [dbo].[HOME_SLIDE] ([IDSLIDE], [SLIDECONTENT], [IMG]) VALUES (N'3         ', N'AJ', N'tienhiep7.png')
INSERT [dbo].[KSTIENICH] ([MAKHACHSAN], [IDTIENICH], [GHICHU]) VALUES (N'IMPVT     ', 1, NULL)
INSERT [dbo].[KSTIENICH] ([MAKHACHSAN], [IDTIENICH], [GHICHU]) VALUES (N'IMPVT     ', 2, NULL)
INSERT [dbo].[KSTIENICH] ([MAKHACHSAN], [IDTIENICH], [GHICHU]) VALUES (N'IMPVT     ', 3, NULL)
INSERT [dbo].[LOAIPHONG] ([MALOAI], [TENLOAIPHONG]) VALUES (N'DLX       ', N'Phòng Deluxe')
INSERT [dbo].[LOAIPHONG] ([MALOAI], [TENLOAIPHONG]) VALUES (N'GRA       ', N'Phòng Grand')
INSERT [dbo].[LOAIPHONG] ([MALOAI], [TENLOAIPHONG]) VALUES (N'STD       ', N'Phòng Standard')
INSERT [dbo].[NCC] ([MANCC], [TENNCC]) VALUES (N'ABC       ', N'Công ty abc')
INSERT [dbo].[NCC] ([MANCC], [TENNCC]) VALUES (N'QWE       ', N'Công ty qwe')
INSERT [dbo].[NCC] ([MANCC], [TENNCC]) VALUES (N'XYZ       ', N'Công ty xyz')
INSERT [dbo].[PHONG] ([MAKHACHSAN], [MALOAI], [MAPHONG], [TENPHONG], [DIENTICH], [QUANGCANH], [GIA], [GIAM], [ANH1], [ANH2], [ANH3], [ANH4], [ANH5], [SOGIUONG], [LOAIGIUONG], [SOLUONG], [SOKHACH]) VALUES (N'IMPVT     ', N'DLX       ', N'IMPVT01   ', N'Phòng đôi Deluxe', 43, N'Quang cảnh vườn', 2184347, 8, N'impdlxvt1.png', N'impdlxvt2.png', N'impdlxvt3.png', N'impdlxvt4.png', NULL, 1, N'Đôi', 10, 2)
INSERT [dbo].[PHONG] ([MAKHACHSAN], [MALOAI], [MAPHONG], [TENPHONG], [DIENTICH], [QUANGCANH], [GIA], [GIAM], [ANH1], [ANH2], [ANH3], [ANH4], [ANH5], [SOGIUONG], [LOAIGIUONG], [SOLUONG], [SOKHACH]) VALUES (N'IMPVT     ', N'DLX       ', N'IMPVT02   ', N'Phòng 2 giường đơn Deluxe', 43, N'Quang cảnh vườn', 2564753, 8, N'impdlxvt5.png', N'impdlxvt6.png', N'impdlxvt7.png', N'impdlxvt8.png', NULL, 2, N'Đơn', 10, 2)
INSERT [dbo].[PHONG] ([MAKHACHSAN], [MALOAI], [MAPHONG], [TENPHONG], [DIENTICH], [QUANGCANH], [GIA], [GIAM], [ANH1], [ANH2], [ANH3], [ANH4], [ANH5], [SOGIUONG], [LOAIGIUONG], [SOLUONG], [SOKHACH]) VALUES (N'IMPVT     ', N'DLX       ', N'IMPVT03   ', N'Deluxe King', 40, N'Hướng một phần', 2866117, 17, N'impdlxvt9.png', N'impdlxvt10.png', N'impdlxvt11.png', N'impdlxvt9.png', NULL, 1, N'Đôi', 10, 2)
SET IDENTITY_INSERT [dbo].[TIENICH] ON 

INSERT [dbo].[TIENICH] ([IDTIENICH], [TENTIENICH], [ICON]) VALUES (1, N'Lễ Tân 24h', N'fas fa-concierge-bell')
INSERT [dbo].[TIENICH] ([IDTIENICH], [TENTIENICH], [ICON]) VALUES (2, N'Sân tennis', N'fas fa-table-tennis')
INSERT [dbo].[TIENICH] ([IDTIENICH], [TENTIENICH], [ICON]) VALUES (3, N'Phòng gym', N'fas fa-dumbbell')
SET IDENTITY_INSERT [dbo].[TIENICH] OFF
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_PHONG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BOOKING] FOREIGN KEY([MABOOK])
REFERENCES [dbo].[BOOKING] ([MABOOK])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_BOOKING]
GO
ALTER TABLE [dbo].[KHACHSAN]  WITH CHECK ADD  CONSTRAINT [FK_KHACHSAN_HOME_DDNB] FOREIGN KEY([IDDIADIEM])
REFERENCES [dbo].[HOME_DDNB] ([IDDIADIEM])
GO
ALTER TABLE [dbo].[KHACHSAN] CHECK CONSTRAINT [FK_KHACHSAN_HOME_DDNB]
GO
ALTER TABLE [dbo].[KHACHSAN]  WITH CHECK ADD  CONSTRAINT [FK_KHACHSAN_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NCC] ([MANCC])
GO
ALTER TABLE [dbo].[KHACHSAN] CHECK CONSTRAINT [FK_KHACHSAN_NCC]
GO
ALTER TABLE [dbo].[KSTIENICH]  WITH CHECK ADD  CONSTRAINT [FK_KSTIENICH_KHACHSAN] FOREIGN KEY([MAKHACHSAN])
REFERENCES [dbo].[KHACHSAN] ([MAKHACHSAN])
GO
ALTER TABLE [dbo].[KSTIENICH] CHECK CONSTRAINT [FK_KSTIENICH_KHACHSAN]
GO
ALTER TABLE [dbo].[KSTIENICH]  WITH CHECK ADD  CONSTRAINT [FK_KSTIENICH_TIENICH] FOREIGN KEY([IDTIENICH])
REFERENCES [dbo].[TIENICH] ([IDTIENICH])
GO
ALTER TABLE [dbo].[KSTIENICH] CHECK CONSTRAINT [FK_KSTIENICH_TIENICH]
GO
ALTER TABLE [dbo].[OPTIONLOC]  WITH CHECK ADD  CONSTRAINT [FK_OPTIONLOC_BANGLOC] FOREIGN KEY([IDBANG])
REFERENCES [dbo].[BANGLOC] ([IDBANG])
GO
ALTER TABLE [dbo].[OPTIONLOC] CHECK CONSTRAINT [FK_OPTIONLOC_BANGLOC]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_QLPHONGKS_KHACHSAN] FOREIGN KEY([MAKHACHSAN])
REFERENCES [dbo].[KHACHSAN] ([MAKHACHSAN])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_QLPHONGKS_KHACHSAN]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_QLPHONGKS_LOAIPHONG] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIPHONG] ([MALOAI])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_QLPHONGKS_LOAIPHONG]
GO
ALTER TABLE [dbo].[PHONGDV_FEE]  WITH CHECK ADD  CONSTRAINT [FK_PHONGDV_FEE_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[PHONGDV_FEE] CHECK CONSTRAINT [FK_PHONGDV_FEE_DICHVU]
GO
ALTER TABLE [dbo].[PHONGDV_FEE]  WITH CHECK ADD  CONSTRAINT [FK_PHONGDV_FEE_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[PHONGDV_FEE] CHECK CONSTRAINT [FK_PHONGDV_FEE_PHONG]
GO
ALTER TABLE [dbo].[PHONGDV_FREE]  WITH CHECK ADD  CONSTRAINT [FK_PHONGDV_FREE_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[PHONGDV_FREE] CHECK CONSTRAINT [FK_PHONGDV_FREE_DICHVU]
GO
ALTER TABLE [dbo].[PHONGDV_FREE]  WITH CHECK ADD  CONSTRAINT [FK_PHONGDV_FREE_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[PHONGDV_FREE] CHECK CONSTRAINT [FK_PHONGDV_FREE_PHONG]
GO
USE [master]
GO
