USE [master]
GO
/****** Object:  Database [QLDPKS_new]    Script Date: 17-Jun-21 8:43:48 PM ******/
CREATE DATABASE [QLDPKS_new]

ALTER DATABASE [QLDPKS_new] SET ANSI_NULL_DEFAULT OFF 
GO
--ALTER DATABASE [QLDPKS_new] SET DELAYED_DURABILITY = DISABLED 

/****** Object:  Table [dbo].[BANGLOC]    Script Date: 17-Jun-21 8:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGLOC](
	[IDBANG] [nchar](10) NOT NULL,
	[TENBANG] [nvarchar](50) NULL,
 CONSTRAINT [PK_BANGLOC] PRIMARY KEY CLUSTERED 
(
	[IDBANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING]    Script Date: 17-Jun-21 8:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING](
	[MABOOK] [int] NOT NULL,
	[MAPHONG] [char](10) NULL,
	[MAKH] [int] NULL,
	[NGAYVAO] [date] NULL,
	[NGAYDI] [date] NULL,
	[YEUCAU] [nvarchar](100) NULL,
 CONSTRAINT [PK_BOOKING] PRIMARY KEY CLUSTERED 
(
	[MABOOK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 17-Jun-21 8:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [char](10) NOT NULL,
	[TENDV] [nvarchar](100) NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 17-Jun-21 8:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] NOT NULL,
	[MABOOK] [int] NOT NULL,
	[TONGTIEN] [int] NULL,
	[HOTEN] [nvarchar](100) NULL,
	[SDT] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](100) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOME_DDNB]    Script Date: 17-Jun-21 8:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOME_DDNB](
	[IDDIADIEM] [nchar](10) NOT NULL,
	[TENDIADIEM] [nvarchar](max) NULL,
	[img] [nvarchar](max) NULL,
 CONSTRAINT [PK_HOME_DDNB] PRIMARY KEY CLUSTERED 
(
	[IDDIADIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOME_SLIDE]    Script Date: 17-Jun-21 8:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOME_SLIDE](
	[IDSLIDE] [nchar](10) NOT NULL,
	[SLIDECONTENT] [nvarchar](max) NULL,
	[IMG] [nvarchar](max) NULL,
 CONSTRAINT [PK_HOME_SLIDE] PRIMARY KEY CLUSTERED 
(
	[IDSLIDE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHSAN]    Script Date: 17-Jun-21 8:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHSAN](
	[MAKHACHSAN] [char](10) NOT NULL,
	[MANCC] [char](10) NOT NULL,
	[TENKHACHSAN] [nvarchar](100) NULL,
	[SOLUONGPHONG] [int] NULL,
	[SOSAO] [int] NULL,
	[TINH] [nvarchar](100) NULL,
	[QUAN] [nvarchar](100) NULL,
	[PHUONG] [nvarchar](100) NULL,
	[DUONG] [nvarchar](100) NULL,
	[DIACHICUTHE] [nvarchar](100) NULL,
	[ANHKS1] [nchar](100) NULL,
	[ANHKS2] [nchar](100) NULL,
	[ANHKS3] [nchar](100) NULL,
	[ANHKS4] [nchar](100) NULL,
	[ANHKS5] [nchar](100) NULL,
	[MOTA] [nvarchar](100) NULL,
	[DIADANH] [nvarchar](100) NULL,
	[DANHGIA] [nvarchar](100) NULL,
	[DIEM] [float] NULL,
	[IDDIADIEM] [nchar](10) NULL,
 CONSTRAINT [PK_KHACHSAN] PRIMARY KEY CLUSTERED 
(
	[MAKHACHSAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KSTIENICH]    Script Date: 17-Jun-21 8:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KSTIENICH](
	[MAKHACHSAN] [char](10) NOT NULL,
	[IDTIENICH] [int] NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_KSTIENICH] PRIMARY KEY CLUSTERED 
(
	[MAKHACHSAN] ASC,
	[IDTIENICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 17-Jun-21 8:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALOAI] [char](10) NOT NULL,
	[TENLOAIPHONG] [nvarchar](100) NULL,
 CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NCC]    Script Date: 17-Jun-21 8:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCC](
	[MANCC] [char](10) NOT NULL,
	[TENNCC] [nvarchar](100) NULL,
 CONSTRAINT [PK_NCC] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPTIONLOC]    Script Date: 17-Jun-21 8:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPTIONLOC](
	[IDKIEULOC] [nchar](10) NOT NULL,
	[TENKIEULOC] [nvarchar](50) NULL,
	[IDBANG] [nchar](10) NOT NULL,
 CONSTRAINT [PK_OPTIONLOC] PRIMARY KEY CLUSTERED 
(
	[IDKIEULOC] ASC,
	[IDBANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 17-Jun-21 8:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAKHACHSAN] [char](10) NOT NULL,
	[MALOAI] [char](10) NOT NULL,
	[MAPHONG] [char](10) NOT NULL,
	[TENPHONG] [nvarchar](100) NULL,
	[DIENTICH] [int] NULL,
	[QUANGCANH] [nvarchar](100) NULL,
	[GIA] [int] NULL,
	[GIAM] [float] NULL,
	[ANH1] [nvarchar](100) NULL,
	[ANH2] [nvarchar](100) NULL,
	[ANH3] [nvarchar](100) NULL,
	[ANH4] [nvarchar](100) NULL,
	[ANH5] [nvarchar](100) NULL,
	[SOGIUONG] [int] NULL,
	[LOAIGIUONG] [nvarchar](100) NULL,
	[SOLUONG] [int] NULL,
	[SOKHACH] [int] NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGDV_FEE]    Script Date: 17-Jun-21 8:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGDV_FEE](
	[MAPHONG] [char](10) NULL,
	[MADV] [char](10) NULL,
	[GIA] [int] NULL,
	[MADVFEE] [char](10) NOT NULL,
 CONSTRAINT [PK_PHONGDV_FEE] PRIMARY KEY CLUSTERED 
(
	[MADVFEE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGDV_FREE]    Script Date: 17-Jun-21 8:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGDV_FREE](
	[MAPHONG] [char](10) NULL,
	[MADV] [char](10) NULL,
	[GHICHU] [nvarchar](100) NULL,
	[MADVFREE] [char](10) NOT NULL,
 CONSTRAINT [PK_PHONGDV_FREE] PRIMARY KEY CLUSTERED 
(
	[MADVFREE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 17-Jun-21 8:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENDN] [nchar](50) NULL,
	[MATKHAU] [nchar](50) NULL,
	[EMAIL] [nchar](50) NULL,
	[SDT] [nchar](11) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[NHANVIEN] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](15) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[NGAYSINH] [datetime] NULL,
	[SDT] [char](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[EMAIL] [varchar](50) NULL,
	[HINHANH] [image] NULL,
	[MATKHAU] [varchar](100) NOT NULL,
	[HOATDONG] [bit] NOT NULL,
 CONSTRAINT [PK_NHANVIEN_1] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[QL_NGUOIDUNG]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_NGUOIDUNG](
	[TENDANGNHAP] [varchar](15) NOT NULL,
	[MATKHAU] [varchar](20) NOT NULL,
	[HOATDONG] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG](
	[TENDANGNHAP] [varchar](15) NOT NULL,
	[MANHOM] [varchar](15) NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_QL_NGUOIDUNGNHOMNGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC,
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QL_NHOM_NGUOIDUNG]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_NHOM_NGUOIDUNG](
	[MANHOM] [varchar](15) NOT NULL,
	[TENNHOM] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](50) NULL
) ON [PRIMARY]
GO

/****** Object:  Index [PK_QL_NHOM_NGUOIDUNG]    ******/
ALTER TABLE [dbo].[QL_NHOM_NGUOIDUNG] ADD  CONSTRAINT [PK_QL_NHOM_NGUOIDUNG] PRIMARY KEY NONCLUSTERED 
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

/****** Object:  Table [dbo].[QL_PHANQUYEN]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_PHANQUYEN](
	[MANHOM] [varchar](15) NOT NULL,
	[MAMANHINH] [varchar](100) NOT NULL,
	[COQUYEN] [bit] NOT NULL,
 CONSTRAINT [PK_QL_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC,
	[MAMANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[DM_MANHINH]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_MANHINH](
	[MAMANHINH] [varchar](100) NOT NULL,
	[TEN_MAN_HINH] [nvarchar](50) NULL
) ON [PRIMARY]
GO

/****** Object:  Index [PK_DM_MANHINH]   ******/
ALTER TABLE [dbo].[DM_MANHINH] ADD  CONSTRAINT [PK_DM_MANHINH] PRIMARY KEY NONCLUSTERED 
(
	[MAMANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

/****** Object:  Table [dbo].[TIENICH]    Script Date: 17-Jun-21 8:43:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIENICH](
	[IDTIENICH] [int] IDENTITY(1,1) NOT NULL,
	[TENTIENICH] [nvarchar](100) NULL,
	[ICON] [nvarchar](50) NULL,
 CONSTRAINT [PK_TIENICH] PRIMARY KEY CLUSTERED 
(
	[IDTIENICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON  ) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DICHVU] ([MADV], [TENDV]) VALUES (N'Air       ', N'Đưa đón sân bay')
INSERT [dbo].[DICHVU] ([MADV], [TENDV]) VALUES (N'AS        ', N'Ăn sáng')
INSERT [dbo].[DICHVU] ([MADV], [TENDV]) VALUES (N'Bar       ', N'Quầy bar')
INSERT [dbo].[HOME_DDNB] ([IDDIADIEM], [TENDIADIEM], [img]) VALUES (N'1         ', N'Đà Nẵng', N'danang.jpg')
INSERT [dbo].[HOME_DDNB] ([IDDIADIEM], [TENDIADIEM], [img]) VALUES (N'10        ', N'TP. Hồ Chí Minh', N'saigon.jpg')
INSERT [dbo].[HOME_DDNB] ([IDDIADIEM], [TENDIADIEM], [img]) VALUES (N'11        ', N'Phú Quốc', N'phuquoc.jpg')
INSERT [dbo].[HOME_SLIDE] ([IDSLIDE], [SLIDECONTENT], [IMG]) VALUES (N'2         ', N'DSQ', N'bach-luyen-thanh-tien.jpg')
INSERT [dbo].[HOME_SLIDE] ([IDSLIDE], [SLIDECONTENT], [IMG]) VALUES (N'3         ', N'AJ', N'tienhiep7.png')
INSERT [dbo].[KHACHSAN] ([MAKHACHSAN], [MANCC], [TENKHACHSAN], [SOLUONGPHONG], [SOSAO], [TINH], [QUAN], [PHUONG], [DUONG], [DIACHICUTHE], [ANHKS1], [ANHKS2], [ANHKS3], [ANHKS4], [ANHKS5], [MOTA], [DIADANH], [DANHGIA], [DIEM], [IDDIADIEM]) VALUES (N'CAM       ', N'QWE       ', N'Khách sạn Camellia 5', 100, 2, N'Hà Nội', N'Hoàn Kiếm', N'abc', N'34 Lãn Ông ', N'34, Lãn Ông, Quận Hoàn Kiếm, Hà Nội', N'camellia.jpg                                                                                        ', NULL, NULL, NULL, NULL, NULL, NULL, N'Rất tốt', 8.2, N'8         ')
INSERT [dbo].[KSTIENICH] ([MAKHACHSAN], [IDTIENICH], [GHICHU]) VALUES (N'IMPVT     ', 1, NULL)
INSERT [dbo].[KSTIENICH] ([MAKHACHSAN], [IDTIENICH], [GHICHU]) VALUES (N'IMPVT     ', 2, NULL)
INSERT [dbo].[KSTIENICH] ([MAKHACHSAN], [IDTIENICH], [GHICHU]) VALUES (N'IMPVT     ', 3, NULL)
INSERT [dbo].[LOAIPHONG] ([MALOAI], [TENLOAIPHONG]) VALUES (N'DLX       ', N'Phòng Deluxe')
INSERT [dbo].[LOAIPHONG] ([MALOAI], [TENLOAIPHONG]) VALUES (N'GRA       ', N'Phòng Grand')
INSERT [dbo].[LOAIPHONG] ([MALOAI], [TENLOAIPHONG]) VALUES (N'STD       ', N'Phòng Standard')
INSERT [dbo].[NCC] ([MANCC], [TENNCC]) VALUES (N'ABC       ', N'Công ty abc')
INSERT [dbo].[NCC] ([MANCC], [TENNCC]) VALUES (N'QWE       ', N'Công ty qwe')
INSERT [dbo].[NCC] ([MANCC], [TENNCC]) VALUES (N'XYZ       ', N'Công ty xyz')
INSERT [dbo].[PHONG] ([MAKHACHSAN], [MALOAI], [MAPHONG], [TENPHONG], [DIENTICH], [QUANGCANH], [GIA], [GIAM], [ANH1], [ANH2], [ANH3], [ANH4], [ANH5], [SOGIUONG], [LOAIGIUONG], [SOLUONG], [SOKHACH]) VALUES (N'IMPVT     ', N'DLX       ', N'IMPVT01   ', N'Phòng đôi Deluxe', 43, N'Quang cảnh vườn', 2184347, 8, N'impdlxvt1.png', N'impdlxvt2.png', N'impdlxvt3.png', N'impdlxvt4.png', NULL, 1, N'Đôi', 10, 2)
INSERT [dbo].[PHONG] ([MAKHACHSAN], [MALOAI], [MAPHONG], [TENPHONG], [DIENTICH], [QUANGCANH], [GIA], [GIAM], [ANH1], [ANH2], [ANH3], [ANH4], [ANH5], [SOGIUONG], [LOAIGIUONG], [SOLUONG], [SOKHACH]) VALUES (N'IMPVT     ', N'DLX       ', N'IMPVT02   ', N'Phòng 2 giường đơn Deluxe', 43, N'Quang cảnh vườn', 2564753, 8, N'impdlxvt5.png', N'impdlxvt6.png', N'impdlxvt7.png', N'impdlxvt8.png', NULL, 2, N'Đơn', 10, 2)
INSERT [dbo].[PHONG] ([MAKHACHSAN], [MALOAI], [MAPHONG], [TENPHONG], [DIENTICH], [QUANGCANH], [GIA], [GIAM], [ANH1], [ANH2], [ANH3], [ANH4], [ANH5], [SOGIUONG], [LOAIGIUONG], [SOLUONG], [SOKHACH]) VALUES (N'IMPVT     ', N'DLX       ', N'IMPVT03   ', N'Deluxe King', 40, N'Hướng một phần', 2866117, 17, N'impdlxvt9.png', N'impdlxvt10.png', N'impdlxvt11.png', N'impdlxvt9.png', NULL, 1, N'Đôi', 10, 2)
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([MAKH], [TENDN], [MATKHAU], [EMAIL], [SDT]) VALUES (7, N'admin                                             ', N'111                                               ', N'abc@gmail.com                                     ', N'0943655763 ')
INSERT [dbo].[TAIKHOAN] ([MAKH], [TENDN], [MATKHAU], [EMAIL], [SDT]) VALUES (8, N'test                                              ', N'000                                               ', N'abc@gmail.com                                     ', N'0909090909 ')
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
SET IDENTITY_INSERT [dbo].[TIENICH] ON 

INSERT [dbo].[TIENICH] ([IDTIENICH], [TENTIENICH], [ICON]) VALUES (1, N'Lễ Tân 24h', N'fas fa-concierge-bell')
INSERT [dbo].[TIENICH] ([IDTIENICH], [TENTIENICH], [ICON]) VALUES (2, N'Sân tennis', N'fas fa-table-tennis')
INSERT [dbo].[TIENICH] ([IDTIENICH], [TENTIENICH], [ICON]) VALUES (3, N'Phòng gym', N'fas fa-dumbbell')
SET IDENTITY_INSERT [dbo].[TIENICH] OFF
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_PHONG]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_TAIKHOAN] FOREIGN KEY([MAKH])
REFERENCES [dbo].[TAIKHOAN] ([MAKH])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_TAIKHOAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BOOKING] FOREIGN KEY([MABOOK])
REFERENCES [dbo].[BOOKING] ([MABOOK])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_BOOKING]
GO
ALTER TABLE [dbo].[KHACHSAN]  WITH CHECK ADD  CONSTRAINT [FK_KHACHSAN_HOME_DDNB] FOREIGN KEY([IDDIADIEM])
REFERENCES [dbo].[HOME_DDNB] ([IDDIADIEM])
GO
ALTER TABLE [dbo].[KHACHSAN] CHECK CONSTRAINT [FK_KHACHSAN_HOME_DDNB]
GO
ALTER TABLE [dbo].[KHACHSAN]  WITH CHECK ADD  CONSTRAINT [FK_KHACHSAN_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NCC] ([MANCC])
GO
ALTER TABLE [dbo].[KHACHSAN] CHECK CONSTRAINT [FK_KHACHSAN_NCC]
GO
ALTER TABLE [dbo].[KSTIENICH]  WITH CHECK ADD  CONSTRAINT [FK_KSTIENICH_KHACHSAN] FOREIGN KEY([MAKHACHSAN])
REFERENCES [dbo].[KHACHSAN] ([MAKHACHSAN])
GO
ALTER TABLE [dbo].[KSTIENICH] CHECK CONSTRAINT [FK_KSTIENICH_KHACHSAN]
GO
ALTER TABLE [dbo].[KSTIENICH]  WITH CHECK ADD  CONSTRAINT [FK_KSTIENICH_TIENICH] FOREIGN KEY([IDTIENICH])
REFERENCES [dbo].[TIENICH] ([IDTIENICH])
GO
ALTER TABLE [dbo].[KSTIENICH] CHECK CONSTRAINT [FK_KSTIENICH_TIENICH]
GO
ALTER TABLE [dbo].[OPTIONLOC]  WITH CHECK ADD  CONSTRAINT [FK_OPTIONLOC_BANGLOC] FOREIGN KEY([IDBANG])
REFERENCES [dbo].[BANGLOC] ([IDBANG])
GO
ALTER TABLE [dbo].[OPTIONLOC] CHECK CONSTRAINT [FK_OPTIONLOC_BANGLOC]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_QLPHONGKS_KHACHSAN] FOREIGN KEY([MAKHACHSAN])
REFERENCES [dbo].[KHACHSAN] ([MAKHACHSAN])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_QLPHONGKS_KHACHSAN]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_QLPHONGKS_LOAIPHONG] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIPHONG] ([MALOAI])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_QLPHONGKS_LOAIPHONG]
GO
ALTER TABLE [dbo].[PHONGDV_FEE]  WITH CHECK ADD  CONSTRAINT [FK_PHONGDV_FEE_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[PHONGDV_FEE] CHECK CONSTRAINT [FK_PHONGDV_FEE_DICHVU]
GO
ALTER TABLE [dbo].[PHONGDV_FEE]  WITH CHECK ADD  CONSTRAINT [FK_PHONGDV_FEE_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[PHONGDV_FEE] CHECK CONSTRAINT [FK_PHONGDV_FEE_PHONG]
GO
ALTER TABLE [dbo].[PHONGDV_FREE]  WITH CHECK ADD  CONSTRAINT [FK_PHONGDV_FREE_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[PHONGDV_FREE] CHECK CONSTRAINT [FK_PHONGDV_FREE_DICHVU]
GO
ALTER TABLE [dbo].[PHONGDV_FREE]  WITH CHECK ADD  CONSTRAINT [FK_PHONGDV_FREE_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[PHONGDV_FREE] CHECK CONSTRAINT [FK_PHONGDV_FREE_PHONG]
GO
USE [master]
GO



ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_QL_NGUOI_QL_NGUOID_QL_NHOM_] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[QL_NHOM_NGUOIDUNG] ([MANHOM])
GO
ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG] CHECK CONSTRAINT [FK_QL_NGUOI_QL_NGUOID_QL_NHOM_]
GO
ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_QL_NGUOIDUNGNHOMNGUOIDUNG_NHANVIEN] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG] CHECK CONSTRAINT [FK_QL_NGUOIDUNGNHOMNGUOIDUNG_NHANVIEN]
GO
ALTER TABLE [dbo].[QL_PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QL_PHANQ_QL_PHANQU_DM_MANHI] FOREIGN KEY([MAMANHINH])
REFERENCES [dbo].[DM_MANHINH] ([MAMANHINH])
GO
ALTER TABLE [dbo].[QL_PHANQUYEN] CHECK CONSTRAINT [FK_QL_PHANQ_QL_PHANQU_DM_MANHI]
GO
ALTER TABLE [dbo].[QL_PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QL_PHANQ_QL_PHANQU_QL_NHOM_] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[QL_NHOM_NGUOIDUNG] ([MANHOM])
GO
ALTER TABLE [dbo].[QL_PHANQUYEN] CHECK CONSTRAINT [FK_QL_PHANQ_QL_PHANQU_QL_NHOM_]
GO

/****** Object:  Index [PK_QL_NGUOIDUNG]   ******/
ALTER TABLE [dbo].[QL_NGUOIDUNG] ADD  CONSTRAINT [PK_QL_NGUOIDUNG] PRIMARY KEY NONCLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

SELECT P.TENPHONG, BK.NGAYVAO, BK.NGAYDI, LP.TENLOAIPHONG, P.SOGIUONG, P.LOAIGIUONG, P.GIA
FROM PHONG P, LOAIPHONG LP, BOOKING BK
WHERE P.MALOAI = LP.MALOAI AND P.MAPHONG = BK.MAPHONG