USE [QLDPKS]
GO
/****** Object:  Table [dbo].[BANGLOC]    Script Date: 28/04/2021 11:15:35 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGLOC](
	[IDBANG] [nchar](10) NOT NULL,
	[TENBANG] [nvarchar](50) NULL,
 CONSTRAINT [PK_BANGLOC] PRIMARY KEY CLUSTERED 
(
	[IDBANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOME_DDNB]    Script Date: 28/04/2021 11:15:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOME_DDNB](
	[IDDIADIEM] [nchar](10) NOT NULL,
	[TENDIADIEM] [nvarchar](max) NULL,
	[img] [nvarchar](max) NULL,
 CONSTRAINT [PK_HOME_DDNB] PRIMARY KEY CLUSTERED 
(
	[IDDIADIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOME_SLIDE]    Script Date: 28/04/2021 11:15:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOME_SLIDE](
	[IDSLIDE] [nchar](10) NOT NULL,
	[SLIDECONTENT] [nvarchar](max) NULL,
	[IMG] [nvarchar](max) NULL,
 CONSTRAINT [PK_HOME_SLIDE] PRIMARY KEY CLUSTERED 
(
	[IDSLIDE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OPTIONLOC]    Script Date: 28/04/2021 11:15:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPTIONLOC](
	[IDKIEULOC] [nchar](10) NOT NULL,
	[TENKIEULOC] [nvarchar](50) NULL,
	[IDBANG] [nchar](10) NOT NULL,
 CONSTRAINT [PK_OPTIONLOC] PRIMARY KEY CLUSTERED 
(
	[IDKIEULOC] ASC,
	[IDBANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[HOME_DDNB] ([IDDIADIEM], [TENDIADIEM], [img]) VALUES (N'1         ', N'Đà Nẵng', N'danang.jpg')
INSERT [dbo].[HOME_DDNB] ([IDDIADIEM], [TENDIADIEM], [img]) VALUES (N'10        ', N'TP. Hồ Chí Minh', N'saigon.jpg')
INSERT [dbo].[HOME_DDNB] ([IDDIADIEM], [TENDIADIEM], [img]) VALUES (N'11        ', N'Phú Quốc', N'phuquoc.jpg')
INSERT [dbo].[HOME_SLIDE] ([IDSLIDE], [SLIDECONTENT], [IMG]) VALUES (N'2         ', N'DSQ', N'bach-luyen-thanh-tien.jpg')
INSERT [dbo].[HOME_SLIDE] ([IDSLIDE], [SLIDECONTENT], [IMG]) VALUES (N'3         ', N'AJ', N'tienhiep7.png')
ALTER TABLE [dbo].[OPTIONLOC]  WITH CHECK ADD  CONSTRAINT [FK_OPTIONLOC_BANGLOC] FOREIGN KEY([IDBANG])
REFERENCES [dbo].[BANGLOC] ([IDBANG])
GO
ALTER TABLE [dbo].[OPTIONLOC] CHECK CONSTRAINT [FK_OPTIONLOC_BANGLOC]
GO
