.loc{
    text-align: left;
    font-size: 20px;
    color: rgb(50, 50, 235);
    font-weight: 500;
}
.loc-label{
    text-align: left;
    font-size: 15px;
}
.btn-tp{
    width: 100%;
    
}
.color-star{
    color: rgb(214, 214, 102);
    font-weight: 700;
}
.addressname{
    color: rgb(46, 46, 240);
    font-size: 24px;
    font-weight: 500;
}
.option-nav-wrapper{
    border-bottom: 2px solid wheat;
    font-size: 14px;
}
.ten-ks{
    color:blue;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
.img-lstks{
    width: 238px;
    height: 179px;
    border-radius: 5px;
  
}
.img-lstksfloat{
    float: left;
    width: 35%;
}
.mota-float{
    float: right;
    width: 65%;
}
.option-them{
    font-size: 14px;
    height: 10px;
}
.giamgia{
    color: white;
    background-color: #f02b2b;
    border-radius: 3px;
    float: right;
    padding: 5px;
    font-size: 11px;
}
.giacu{
    font-weight: 300; 
    font-size: 14px; 
    text-decoration: line-through; 
    float: right;
    margin-right: 10px;
    height: 5px;
}
.giamoi{
    color: #f02b2b;
    font-size: 18px;
    float: right;
    margin-right: 10px;
    font-weight: bold;
    height: 8px;
}
.xemphong{
    border-radius: 5px;
    border: none;
    background-color: #FF1284;
    color: white;
    font-weight: bold;
    padding: 8px;
    font-size: 14px;
    float: right;
    margin-right: 10px;
    margin-top: 8px;
    width: 120px;
}
.xemphong:hover{
    background-color: #db096f;
}
.danhgia{
    height: 100px;
    float: right;
    padding-right: 10px;
    padding-top: 20px;
   
}
.xeploai{
    color: white;
    background-color: #00adef;
    padding: 5px 5px 5px 15px;
    border-radius: 5px 0px 0px 5px;
    font-weight: 700;
    font-size: 14px;
}
.diem{
    color: white;
    background-color: #52c6f0;
    padding: 5px 5px 5px 10px;
    border-radius: 0px 5px 5px 0px;
    font-weight: 700;
    font-size: 14px;
}
.xemthem-btn {
    border:none; 
    background-color:white; 
    display: inline-block; 
    /*position:relative; 
    left:50%; 
    transform: translateX(-50%);*/
    color:aqua;
}
.form-check{
    margin-bottom:10px;
    
}