<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL_DAL.Properties.Settings.QLDPKSConnectionString"
            connectionString="Data Source=B902702E395D455\WIN2K;Initial Catalog=QLDPKS;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QLDPKSConnectionString1"
            connectionString="Data Source=B902702E395D455\WIN2K;Initial Catalog=QLDPKS;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>