<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL_DAL.Properties.Settings.QLDPKSConnectionString"
            connectionString="Data Source=DOUBLESHIT;Initial Catalog=QLDPKS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QLDPKSConnectionString1"
            connectionString="Data Source=DOUBLESHIT;Initial Catalog=QLDPKS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QLDPKSConnectionString2"
            connectionString="Data Source=DOUBLESHIT;Initial Catalog=QLDPKS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>