
<div style="width: 100%">
    <div class="details-giacu" style="width: 70%; float: left;">@string.Format("{0:0,0}", Model.GIA)đ /đêm</div>
    <div class="details-giam" style="width: 30%; float: left;">-@Model.GIAM %</div>
</div>
<br />
<div class="details-giamoi">@string.Format("{0:0,0}", Model.GIAMOI)đ /đêm</div>
