<div class="giamgia" style="margin-top: 10px;margin-right: 10px;">-@Model.GIAM %</div>
<br />
<br />
<p class="giacu">@string.Format("{0:0,0}", Model.GIA)đ / đêm</p>
<br />
<p class="giamoi">@string.Format("{0:0,0}", Model.GIAMOI)đ / đêm</p>

