.details-tenks {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
}

.star {
    color: #FFBC39;
    font-size: 14px;
}

.diemdg {
    color: #ffffff;
    padding: 2px 4px 2px 4px;
    font-size: 15px;
    background: #00B6F3;
    font-weight: 600;
    line-height: 17px;
    border-radius: 4px;
    margin-right: 4px;
}

.textdanhgia {
    display: flex;
    font-size: 15px;
    align-items: center;
    font-weight: 400;
    line-height: 17px;
}

.diachi {
    text-align: left;
    color: #3366CC;
    font-weight: 400;
    font-size: 14px;
}

.details-giacu {
    font-size: 15px;
    line-height: 17px;
    text-decoration: line-through;
    font-weight: normal;
    white-space: nowrap;
}

.details-giam {
    background: #FF1284;
    color: white;
    padding: 2px 4px 2px 4px;
    max-height: 19px;
    border-radius: 3px;
    font-size: 14px;
    font-family: apple-system,BlinkMacSystemFont,sans-serif;
    font-weight: 600;
    line-height: 17px;
    max-width: 45px;
}

.details-giamoi {
    font-size: 20px;
    margin-top: 3px;
    font-weight: 600;
    line-height: 23px;
    white-space: nowrap;
}

.details-chonphong {
    background-color: rgb(255,18,132);
    border: none;
    height: 44px;
    width: 156px;
    padding: 6px 8px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    text-transform: none;
    min-height: 20px;
    margin: 0px;
    color: white;
}

    .details-chonphong:hover {
        background-color: rgb(224,4,110);
    }

.details-img-big {
    width: 100%;
    height: 100%;
}

.details-img-small {
    width: 100%;
    height: 100%;
    /*position: absolute;*/
}

.padding-style-right {
    padding-right: 4px;
}

.padding-style-top {
    padding-top: 4px;
}

.details-tieude {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

.detail-dv-style {
    font-size: 14px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
    height: 100px;
}

.details-icon {
    font-size: 22px;
}

.details-danhgia-diem {
    width: 35%;
    float: left;
    border-radius: 50%;
    background-color: #00B6F3;
    height: 140px;
    text-align: center;
    line-height: 140px;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.details-danhgia-text {
    width: 65%;
    float: left;
    padding-left: 25px;
    background-color: #F7FAFC;
    border-radius: 10px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.details-kv-chonphong {
    background-color: #F7FAFC;
}

.details-img-phong-big {
    height: 152px;
    border-radius: 8px 8px 0px 0px;
    width: 100%;
}

.details-img-phong-big-small {
    height: 50px;
    width: 100%;
    padding-top: 3px;
    padding-left: 3px;
}

.details-multitable {
    width: 100%;
    border-spacing: 0;
    font-size: 14px;
    color: #4A5568;
    border-top: 1px solid rgba(224,224,224,1);
    border-bottom: 1px solid rgba(224,224,224,1);
}

.details-multitable-cell {
    width: 35%;
    border-left: none;
    vertical-align: top;
    padding-top: 20px;
    border-right: 1px solid rgba(224,224,224,1);
    padding-bottom: 20px;
}

.details-chinhsach {
    float: left;
    width: 168px;
    background-color: #EDF2F7;
    height: auto;
    border-radius: 20px;
    padding-top: 20px;
    text-align: center;
    margin-right: 20px;
}
.tt-htks {
    font-size: 14px;
    width: 100%;
    height: 150px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.tt-imgks {
    width: 112px;
    height: 112px;
    border-radius: 8px;
}

.tt-kv-ttp {
    width: 33.3%;
    float: left;
    border-left: solid 1px #E2E8F0;
    padding-left: 10px;
    height: 50px;
}

.lh {
    height: 280px;
}

.tt-input-style {
    width: 100%;
    height: 40px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

    .tt-input-style:focus {
        border-bottom: 2px solid black;
    }

.yc {
    height: auto;
}

.tt-td-input {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.42);
}

.tt-kv-yc {
    background-color: #f7fafc;
    padding: 20px;
    height: auto;
    border-radius: 20px;
}

.yc-rieng-input {
    height: 80px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #E2E8F0;
}

    .yc-rieng-input:focus {
        outline: 0;
        border: 1px solid blue;
    }

.btn-tt {
    width: auto;
    height: 50px;
}

.tt-giam {
    max-width: 150px;
    max-height: 100px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    position: absolute;
    font-size: 18px;
    line-height: 30px;
    border-radius: 10px 0px 10px 0px;
}

.tt-img {
    width: 100%;
    border-radius: 10px;
    height: 150px;
    z-index: 0;
}

.tt-nd {
    padding-top: 10px;
    font-size: 14px;
}

.tt-alert {
    background-color: rgba(237, 137, 54, 0.1);
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 10px;
}
