.form-search{
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.tk-wrapper{
    background-color: rgb(7, 128, 250);
    border-radius: 10px;
}
.tim-style{
    color: whitesmoke;
    font-size: 17px;
    font-weight: 400;
    transition: 0.6s;
}
.tim-style:hover{
    color: rgb(243, 222, 222);
    font-weight: 600;
    border-bottom: 2px solid white ;
}
.ks{
    color: rgb(243, 222, 222);
    font-weight: 600;
    border-bottom: 2px solid white ;
}
.search-wrapper{
    width: 100%;
    position: relative;
    display: inline-block;
}
.ks-search{
    width: 80%;
    border-radius: 5px;
    border: none;
    height: 40px;
    font-size: 16px;
    padding-left: 14px;
}
.number-input{
    width: 72%;
    border-radius: 5px;
    border: none;
    height: 40px;
    font-size: 16px;
    padding-left: 14px;
}
.btn-search{
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: none;
    background-color: rgb(221,5,224);
    color: white;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
}
.btn-search:hover{
    background-color: rgb(183,0,183);
    transition: 0.5s;
    border-radius: 22px;
    color: rgb(243, 219, 174);
}
.img-slide-size{
    height: 407px;
}
.diadiem{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 700;
    box-sizing: border-box;
    border-bottom: 4px solid rgb(245, 234, 234);
    line-height: 55px;
}
.img-item{
    width: 100%;
    height: 203px;
    object-fit: cover;
}
.img-content-diadiem{
    width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: 0.6s;
}
.img-content-diadiem:hover{
    border-radius: 25px;
    transition: 0.6s;
    cursor: pointer;
}
.item-name{
    font-size: 16px;
    color: white;
    left: 0;
    bottom: 0;
    position: absolute;
    padding: 7px;
    width: 100%;
    font-weight: 700;
    text-align: center;
    background-color: rgb(0,174,239);
    border-top: 1px solid #3760e4;
    margin: 0;
}

.tinhthanh{
    color: black;
    font-size: 18px;
    text-decoration: none;
}
