
@{
    ViewBag.Title = "thanhcong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 style="text-align:center;font-size:18px;padding:20px">Chúc mừng bạn đã đăng ký thành công</h2>

<a href="@Url.Action("Index","Home")">
    <button style="width: 200px;
        font-size: 16px;
        padding: 10px;
        font-weight: 500;
        background-color: #FF1284;
        border-radius: 8px;
        border:0;
        color: white;
        display:inline-block;
        position:relative;
        left:50%;
        transform:translateX(-50%);
            ">
        Quay về trang chủ
    </button>
</a>
